// Import page-specific CSS files here.
@import "home";

.navbar-firefly {
  background-color: #843477;
  justify-content: space-between;
}

.navbar-firefly .navbar-collapse {
  flex-grow: 0;
}

.navbar-firefly .navbar-brand img {
  width: 40px;
}
