.btn-primary {
  color: #fff;
  background-color: #843477;
  border-color: #843477;
  position: relative;
  margin-top: 10px;
  float: right;
  width: 150px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0,0,0,0.2);
  height: 50px;
  font-size: 22px;
}

.btn-green {
  position: absolute;
  width: 161.51px;
  height: 37px;
  left: 1124.97px;
  top: 507px;
  background: #72CFAE;
  border-radius: 8px;
}
